.image-container{
  position:relative;
}
.image-container img{
  object-fit:cover;
}
.image-label{
  width:30px;
  height: 30px;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:100%;
  background:#00D1B2;
  color: #fff;
  font-size:30px;
  position:absolute;
  top:20px;
  right:30px;
  transform:translate(50%,-50%);
}